*.vdb

*.log
.lock

outflow

work_*

debug_profile.wizard.json
efinity_dbg.jtag.log.1

*.gtkw
*.vcd

*.o
*.o.*
*.a
*.s
*.ko
*.ko.*
*.so
*.so.dbg
*.mod.c
*.i
*.lst
*.symtypes
*.order
*.elf
*.bin
*.tar
*.gz
*.bz2
*.lzma
*.xz
*.lz4
*.lzo
*.patch
*.gcno
*.ll
modules.builtin
Module.symvers
*.dwo
*.su
*.deb
*.changes
*.tmp_versions

*.swp

bin/

debian/files
debian/*substvars
